<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Dev Search</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>
  <body>
    {% include 'navbar.html' %} {%block content%} {%endblock content%}
    <div style="display:flex;border:1px solid white;align-items:center;font-size:24px;gap:1rem;">
      <p>Footer</p>
      <a href="{% url 'projects' %}" >Home</a>
    </div>
    <h1>
    
  </body>
</html>
